@using HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities;

@{

    ViewData["title"] = "Danh sách Danh Mục";
}
<!-- Css riêng ở đây nha -->
<link rel="stylesheet" href="~/assets/lib/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="~/assets/css/ThemDanhMuc.css">



<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="bi bi-bookmarks"></i> Quản lý Danh mục</h1>
            <p>Quản lý các danh mục của sản phẩm</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
            <li class="breadcrumb-item">Quản lý hàng hoá</li>
            <li class="breadcrumb-item active">
                <a asp-controller="QuanLyHangHoa" asp-action="DanhSachDanhMuc">Quản lý danh mục</a>
            </li>
        </ul>
    </div>

    <div class="row" id="main-row-container">

        <div class="col-md-12" id="category-list-col">
            <div class="tile">
                <div class="tile-title-w-btn d-flex justify-content-between align-items-center">
                    <h3 class="title" style="margin-bottom: 0">Danh Sách Danh Mục</h3>
                    <a class="btn btn-primary btn-add-khoi" href="#" id="show-add-form-btn">
                        <i class="fas fa-plus"></i> Thêm danh mục mới
                    </a>
                </div>

                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>Mã Danh Mục</th>
                                    <th>Tên Danh Mục</th>
                                    <th>Số Lượng Sản Phẩm</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            @{
                                if (ViewBag.lstDanhMuc != null)
                                {
                                    var danhSachDanhMuc = (List<DanhMuc>)ViewBag.lstDanhMuc;
                                    foreach (var danhMuc in danhSachDanhMuc)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@danhMuc.Id</td>
                                                <td>@danhMuc.Ten</td>
                                                <td>@danhMuc.SanPhamDanhMucs.Count</td>
                                                <td class="text-center">
                                                    <a class="btn btn-info btn-sm me-1 btn-edit-khoi " href="#" title="Sửa">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-danger btn-sm btn-delete-khoi" href="#" title="Xóa">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    }
                                }
                            }
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-0" id="category-form-col">

            <div id="add-form-wrapper">
                <div class="tile">
                    <h3 class="tile-title">Thêm Danh Mục Mới</h3>
                    <p>Thêm một danh mục và hệ thống</p>
                    <div class="tile-body">
                        <form id="add-category-form">
                            <div class="mb-3">
                                <label class="form-label">Mã danh mục</label>
                                <input class="form-control" id="add-id-input" type="text" placeholder="Mã sẽ được tạo tự động" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tên danh mục</label>
                                <input class="form-control" id="add-ten-input" type="text" placeholder="V.d: Đồ gia dụng" required>
                            </div>
                        </form>
                    </div>
                    <div class="tile-footer">
                        <button class="btn btn-primary" type="button" id="btn-add"><i class="bi bi-check-circle-fill me-2"></i>Thêm</button>
                        <a class="btn btn-secondary" href="#" id="cancel-add-form-btn">
                            <i class="bi bi-x-circle-fill me-2"></i>Huỷ
                        </a>
                    </div>
                </div>
            </div>

            <div id="edit-form-wrapper" style="display: none;">
                <div class="tile">
                    <h3 class="tile-title">Sửa Danh Mục</h3>
                    <p>Sửa một danh mục</p>
                    <div class="tile-body">
                        <form id="edit-category-form">
                            <div class="mb-3">
                                <label class="form-label">Mã danh mục</label>
                                <input class="form-control" id="edit-id-input" type="text" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tên danh mục</label>
                                <input class="form-control" id="edit-ten-input" type="text" required>
                            </div>
                        </form>
                    </div>
                    <div class="tile-footer">
                        <button class="btn btn-primary" type="button"><i class="bi bi-check-circle-fill me-2"></i>Lưu</button>
                        <a class="btn btn-secondary" href="#" id="cancel-edit-form-btn">
                            <i class="bi bi-x-circle-fill me-2"></i>Huỷ
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>



<!-- js riêng ở đây nha! -->
<script src="~/assets/js/DanhSachDanhMuc.js" asp-append-version="true" defer></script>