@using HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities;

@{

    ViewData["title"] = "Sửa Nhà Cung Cấp";
}
  <!-- Css riêng ở đây nha -->
  <link rel="stylesheet" href="~/assets/lib/select2/dist/css/select2.min.css">


  <!-- Main sidebar ở đây nha -->




  <main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="bi bi-pencil-square"></i> Chỉnh Sửa Nhà Cung Cấp</h1>
        <p>Cập nhật thông tin nhà cung cấp</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
            <li class="breadcrumb-item"><a>Quản lý nhà cung cấp</a></li>
            <li class="breadcrumb-item"><a asp-controller="QuanLyNhaCungCap" asp-action="DanhSachNhaCungCap">Danh sách nhà cung cấp</a></li>
            <li class="breadcrumb-item"><a asp-controller="Sua" asp-action="SuaNCC">Sửa nhà cung cấp</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-8 mx-auto" id="customer-form-container">
        <div class="tile">
          <h3 class="tile-title">Thông tin Nhà Cung Cấp (NCC001)</h3>
          <p>Dữ liệu sẽ được cập nhật vào bảng <strong>NhaCungCap</strong> .</p>
          <div class="tile-body">
            <form>
            <div class="mb-3">
                <label class="form-label">Mã nhà cung cấp (id)</label>
                <input class="form-control" type="text" value="NCC001" readonly>
            </div>

              <div class="mb-3">
                <label class="form-label">Tên nhà cung cấp</label>
                <input class="form-control" type="text" value="Công ty Cổ phần Sữa Việt Nam (Vinamilk)" required>
              </div>

              <div class="mb-3">
                <label class="form-label">Số điện thoại</label>
                <input class="form-control" type="tel" value="02854155555" required>
              </div>

              <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" value="info@vinamilk.com.vn" required>
              </div>

              <div class="mb-3">
                <label class="form-label">Địa chỉ</label>
                <textarea class="form-control" rows="3" required>Số 10, Tân Trào, P. Tân Phú, Q.7, TP. HCM</textarea>
              </div>

              <div class="mb-3">
                <label class="form-label">Mã số thuế</label>
                <input class="form-control" type="text" value="0300588569" required>
              </div>

            </form>
          </div>
          <div class="tile-footer">
            <button class="btn btn-primary" type="button"><i class="bi bi-check-circle-fill me-2"></i>Lưu thay đổi</button>
            <a class="btn btn-secondary" href="#"><i class="bi bi-x-circle-fill me-2"></i>Huỷ</a>
          </div>
        </div>
      </div>
    </div>
  </main>



